# OPENAI API SETTINGS
OPENAI_API_KEY=
OPENAI_API_ENDPOINT=https://api.openai.com/
OPENAI_API_VERSION=2020-05-01-preview
OPENAI_API_MODEL=gpt-4o-mini

# OPENAI_API_KEY=229543f119af4a118b5b8297059457ea
# OPENAI_API_ENDPOINT=https://kevin.openai.azure.com/
# OPENAI_API_VERSION=2024-05-01-preview

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=https://kevin.openai.azure.com/openai/deployments/gpt-4o/chat/completions?api-version=2023-03-15-preview
AZURE_OPENAI_API_VERSION=2023-03-15-preview
AZURE_OPENAI_API_MODEL=gpt-4o
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o

OLLAMA_MODEL=llama3.1


